<section
	aria-labelledby="advantages-title"
	class="container mx-auto mt-32 flex flex-col gap-4 md:flex-row md:justify-center md:gap-6 xl:justify-between xl:gap-0"
>
	<h2 id="advantages-title" class="sr-only">Avantages de la boutique</h2>
	<div class="card items-center text-center text-base-100 bg-[#AE5169] shadow-sm rounded-lg px-12 py-8 gap-4">
		<div class="flex items-center justify-center size-16 bg-base-100 rounded-full">
			<lucide-icon [img]="Shield" class="size-10 text-base-content" aria-hidden="true" focusable="false" />
		</div>
		<h3 class="text-lg">Livraison sécurisée</h3>
		<p class="text-sm">Vos commandes livrées avec soin</p>
	</div>

	<div class="card items-center text-center text-base-100 bg-[#AE5169] shadow-sm rounded-lg px-12 py-8 gap-4">
		<div class="flex items-center justify-center size-16 bg-base-100 rounded-full">
			<lucide-icon [img]="Shield" class="size-10 text-base-content" aria-hidden="true" focusable="false" />
		</div>
		<h3 class="text-lg">Satisfaction client</h3>
		<p class="text-sm">Un service toujours à votre écoute</p>
	</div>

	<div class="card items-center text-center text-base-100 bg-[#AE5169] shadow-sm rounded-lg px-12 py-8 gap-4">
		<div class="flex items-center justify-center size-16 bg-base-100 rounded-full">
			<lucide-icon [img]="Shield" class="size-10 text-base-content" aria-hidden="true" focusable="false" />
		</div>
		<h3 class="text-lg">Qualité garantie</h3>
		<p class="text-sm">Des créations faites main avec passion</p>
	</div>
</section>
