<section class="my-20 container mx-auto px-4">
	<app-section-intro
		title="Mon Histoire"
		description="Découvrez l'histoire et les valeurs qui animent notre atelier artisanal"
	/>

	<div class="flex flex-col gap-12 mt-12 xl:mt-20">
		<!-- Notre Passion -->
		<div class="flex flex-col lg:flex-row items-center gap-8 justify-between">
			<div class="w-full max-w-xl shadow-md rounded-lg overflow-hidden">
				<img src="/hero-banner-tablet.jpg" alt="Notre Passion" class="w-full h-auto" />
			</div>
			<div class="w-full max-w-3xl px-4 lg:px-8">
				<h2 class="text-3xl font-semibold mb-4 text-base-content">Notre Passion</h2>
				<p class="text-base text-base-content mb-4">
					Bloom est né d'une passion pour l'artisanat et d'un désir de créer des pièces uniques qui racontent
					une histoire...
				</p>
				<p class="text-base text-base-content mb-4">Notre atelier a vu le jour en 2018, lorsque Marie...</p>
			</div>
		</div>

		<!-- Nos Valeurs -->
		<div class="flex flex-col lg:flex-row-reverse items-center gap-8 justify-between">
			<div class="w-full max-w-xl shadow-md rounded-lg overflow-hidden">
				<img src="/hero-banner-tablet.jpg" alt="Nos Valeurs" class="w-full h-auto" />
			</div>
			<div class="w-full max-w-3xl px-4 lg:px-8">
				<h2 class="text-3xl font-semibold mb-4 text-base-content">Nos Valeurs</h2>
				<p class="text-base text-base-content mb-4">
					L'authenticité, la durabilité et l'éthique sont au cœur de notre démarche...
				</p>
				<p class="text-base text-base-content mb-4">Chaque pièce que nous créons est pensée pour durer...</p>
			</div>
		</div>
	</div>
</section>
