@for (favori of favoris(); track favori.id) {
    <div class="flex items-center justify-between gap-4 border-b border-grey py-4">
        <figure class="size-20 rounded-lg overflow-hidden flex-shrink-0">
            @for (img of favori.product.images; track img.id) {
                <picture class="size-full block">
                    <img [src]="img.image_url" [alt]="favori.product.name"
                         class="size-full object-cover"
                         loading="lazy"/>
                </picture>
            }
        </figure>

        <!-- Infos -->
        <div class="flex flex-col flex-1 gap-1">
            <h3 class="text-base text-base-content">{{ favori.product.name }}</h3>
            <p class="text-sm text-base-content/70">{{ favori.product.description }}</p>
            <div class="flex items-center gap-2 text-sm mt-1">
                <span class="text-primary font-semibold">{{ favori.product.price }} €</span>
            </div>
        </div>

        <!-- Actions -->
        <div class="flex flex-col items-end gap-2">
            <!--			<app-button size="sm" variant="outline" [icon]="ShoppingCart" (click)="onAddToCart(product)">-->
            <!--				Ajouter-->
            <!--			</app-button>-->
            <!--			<app-button size="sm" variant="outline" [icon]="Trash2" (click)="onRemove(product.id)">-->
            <!--				Supprimer-->
            <!--			</app-button>-->
        </div>
    </div>
}
